In [2]:
import pandas as pd

In [144]:
adidas = pd.read_csv('adidas.csv')

In [145]:
adidas.shape

(845, 20)

In [147]:
adidas.columns

Index(['url', 'name', 'sku', 'selling_price', 'original_price', 'currency',
       'availability', 'color', 'category', 'source', 'source_website',
       'breadcrumbs', 'description', 'brand', 'images', 'country', 'language',
       'average_rating', 'reviews_count', 'crawled_at'],
      dtype='object')

In [ ]:
#Ejercicio 1: según el dataset de adidas, para las columnas categóricas, encontrar: 
#aquellas columnas que tienen mas de un nivel, y que por lo menos uno de esos niveles represente mas o igual del 98%.
#Para las columnas que cumplan esa premisa, eliminaran del array de columnas validas.

In [148]:
#No he quitado las columnas numericas dado que en el enunciado nos dice que trabajemos directamente con "adidas.columns"

cols_validas = []
cols_many_levels = []
cols_one_level = []

size_df = adidas.shape[0]
umbral = .98

for c_ in adidas.columns:
    
    niveles = adidas.loc[ : , [c_] ].drop_duplicates().shape[0]
    
    if ( niveles / size_df ) >= umbral:
        cols_many_levels.append(c_)
    elif niveles == 1:
        cols_one_level.append(c_)
    else:
       cols_validas.append(c_)

In [149]:
#Columnas que cumplen
cols_many_levels

['url', 'sku', 'images', 'crawled_at']

In [150]:
adidas.loc[ :  , cols_many_levels ].drop_duplicates()

,url,sku,images,crawled_at
0,https://www.adidas.com/us/beach-shorts/FJ5089....,FJ5089,"https://assets.adidas.com/images/w_600,f_auto,...",2021-10-23 17:50:17.331255
1,https://www.adidas.com/us/five-ten-kestrel-lac...,BC0770,"https://assets.adidas.com/images/w_600,f_auto,...",2021-10-23 17:50:17.423830
2,https://www.adidas.com/us/mexico-away-jersey/G...,GC7946,"https://assets.adidas.com/images/w_600,f_auto,...",2021-10-23 17:50:17.530834
3,https://www.adidas.com/us/five-ten-hiangle-pro...,FV4744,"https://assets.adidas.com/images/w_600,f_auto,...",2021-10-23 17:50:17.615054
4,https://www.adidas.com/us/mesh-broken-stripe-p...,GM0239,"https://assets.adidas.com/images/w_600,f_auto,...",2021-10-23 17:50:17.702680
...,...,...,...,...
840,https://www.adidas.com/us/supernova-plus-shoes...,FX2858,"https://assets.adidas.com/images/w_600,f_auto,...",2021-10-23 17:52:31.937924
841,https://www.adidas.com/us/choigo-shoes/H00667....,H00667,"https://assets.adidas.com/images/w_600,f_auto,...",2021-10-23 17:52:32.014973
842,https://www.adidas.com/us/daily-3.0-shoes/GZ77...,GZ7705,"https://assets.adidas.com/images/w_600,f_auto,...",2021-10-23 17:52:32.208426
843,https://www.adidas.com/us/daily-3.0-shoes/GZ77...,GZ7706,"https://assets.adidas.com/images/w_600,f_auto,...",2021-10-23 17:52:32.293622
844,https://www.adidas.com/us/choigo-shoes/FY6503....,FY6503,"https://assets.adidas.com/images/w_600,f_auto,...",2021-10-23 17:52:32.398104

In [151]:
cols_validas

['name',
 'selling_price',
 'original_price',
 'availability',
 'color',
 'category',
 'breadcrumbs',
 'description',
 'average_rating',
 'reviews_count']

In [ ]:
#Ejercicio 2: Según el dataset de adidas, para las columnas categóricas, encontrar aquellas columnas que tengan
#entre 3-6 niveles. Al nivel con la frecuencia mas baja lo vamos a remplazar por la palabra Others, 
#una vez ya tenga esa regla aplicarla al dataset original, tal cual como se hizo con el ejercicio hecho en clases.

In [152]:
cols_validas2 = []
cols_many_levels2 = []
cols_more_level = []

size_df = adidas.shape[0]
umbral = .98

for c_ in adidas.columns:
    
    niveles = adidas.loc[ : , [c_] ].drop_duplicates().shape[0]
    
    if ( niveles / size_df ) >= umbral:
        cols_many_levels2.append(c_)
    elif (niveles >= 3) & (niveles <= 6):
        cols_more_level.append(c_)
    else:
       cols_validas2.append(c_)

In [153]:
cols_more_level

['category']

In [154]:
adidas.loc[ :  , cols_more_level ]

     category
0    Clothing
1       Shoes
2    Clothing
3       Shoes
4    Clothing
..        ...
840     Shoes
841     Shoes
842     Shoes
843     Shoes
844     Shoes

[845 rows x 1 columns]

In [155]:
e2 = pd.DataFrame()

In [156]:
e2= adidas.groupby(["category"], as_index = False).agg({ 'sku' : ['count']} )
e2.columns = e2.columns.droplevel(1)

In [157]:
e2 = e2.sort_values(["category"], ascending = False)

In [158]:
e2

      category  sku
2        Shoes  426
1     Clothing  337
0  Accessories   82

In [159]:
e2["Porcentaje"] = e2["sku"] / size_df

In [160]:
adidas.loc[ :  , "category"].value_counts() / size_df #Accessories es el nivel con la frecuencia mas baja

Shoes          0.504142
Clothing       0.398817
Accessories    0.097041
Name: category, dtype: float64

In [161]:
e2

      category  sku  Porcentaje
2        Shoes  426    0.504142
1     Clothing  337    0.398817
0  Accessories   82    0.097041

In [162]:
e2["category_FB"] = 'Others'

In [163]:
e2["category_FB"] = e2.apply( lambda r: r["category"] if r["Porcentaje"] > 0.1 else r["category_FB"], axis = 1 )

In [164]:
e2 #Accesories ya dice "Others"

      category  sku  Porcentaje category_FB
2        Shoes  426    0.504142       Shoes
1     Clothing  337    0.398817    Clothing
0  Accessories   82    0.097041      Others

In [167]:
adidas = adidas.merge(e2, on=["category"], how="left") #Aplicamos al DataSet original

In [168]:
adidas

,url,name,sku_x,selling_price,original_price,currency,availability,color,category,source,...,brand,images,country,language,average_rating,reviews_count,crawled_at,sku_y,Porcentaje,category_FB
0,https://www.adidas.com/us/beach-shorts/FJ5089....,Beach Shorts,FJ5089,40,NaN,USD,InStock,Black,Clothing,adidas United States,...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.5,35,2021-10-23 17:50:17.331255,337,0.398817,Clothing
1,https://www.adidas.com/us/five-ten-kestrel-lac...,Five Ten Kestrel Lace Mountain Bike Shoes,BC0770,150,NaN,USD,InStock,Grey,Shoes,adidas United States,...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.8,4,2021-10-23 17:50:17.423830,426,0.504142,Shoes
2,https://www.adidas.com/us/mexico-away-jersey/G...,Mexico Away Jersey,GC7946,70,NaN,USD,InStock,White,Clothing,adidas United States,...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.9,42,2021-10-23 17:50:17.530834,337,0.398817,Clothing
3,https://www.adidas.com/us/five-ten-hiangle-pro...,Five Ten Hiangle Pro Competition Climbing Shoes,FV4744,160,NaN,USD,InStock,Black,Shoes,adidas United States,...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,3.7,7,2021-10-23 17:50:17.615054,426,0.504142,Shoes
4,https://www.adidas.com/us/mesh-broken-stripe-p...,Mesh Broken-Stripe Polo Shirt,GM0239,65,NaN,USD,InStock,Blue,Clothing,adidas United States,...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,11,2021-10-23 17:50:17.702680,337,0.398817,Clothing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840,https://www.adidas.com/us/supernova-plus-shoes...,Supernova+ Shoes,FX2858,72,$120,USD,InStock,White,Shoes,adidas United States,...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.3,151,2021-10-23 17:52:31.937924,426,0.504142,Shoes
841,https://www.adidas.com/us/choigo-shoes/H00667....,Choigo Shoes,H00667,70,$100,USD,InStock,White,Shoes,adidas United States,...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,135,2021-10-23 17:52:32.014973,426,0.504142,Shoes
842,https://www.adidas.com/us/daily-3.0-shoes/GZ77...,Daily 3.0 Shoes,GZ7705,35,$50,USD,InStock,Black,Shoes,adidas United States,...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,190,2021-10-23 17:52:32.208426,426,0.504142,Shoes
843,https://www.adidas.com/us/daily-3.0-shoes/GZ77...,Daily 3.0 Shoes,GZ7706,40,$50,USD,InStock,Pink,Shoes,adidas United States,...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,190,2021-10-23 17:52:32.293622,426,0.504142,Shoes
844,https://www.adidas.com/us/choigo-shoes/FY6503....,Choigo Shoes,FY6503,70,$100,USD,InStock,Black,Shoes,adidas United States,...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,135,2021-10-23 17:52:32.398104,426,0.504142,Shoes

In [180]:
adidas.groupby(["category_FB"]).agg({ 'sku_x' : ['count']}) / adidas.shape[0] #Vemos que "Others" tiene el mismo porcentaje que Accesories

                sku_x
                count
category_FB
Clothing     0.398817
Others       0.097041
Shoes        0.504142